@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

:root {
    --spacer: 1.5;
}

.neu-main {
    display: grid;
    place-items: center;
    text-align: center;
    background: #dde1e7;
    margin-left: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.neu-content-login {
    width: 320px;
    background: #dde1e7;
    border-radius: 10px;
    padding: 45px 55px 35px 55px;
    box-shadow: -3px -3px 7px #ffffff73,
    2px 2px 5px rgba(94, 104, 121, 0.288);
}

.neu-content .pin {
    background: #dde1e7;
    border-radius: 10px;
    padding: 40px 30px;
    box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94, 104, 121, 0.288);
    margin: 55px 50% 175% 0;
    width: 350px;
}

.neu-content .signature {
    background: #dde1e7;
    border-radius: 10px;
    padding: 40px 30px;
    box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94, 104, 121, 0.288);

    margin-top: 50px;
    margin-bottom: 25%!important;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.neu-content .signature p {
    font-size: 25px;
    font-weight: 300;
    color: #000;
    text-align: left;
}

.neu-content .text {
    font-size: 25px;
    font-weight: 300;
    color: #000;
}

.neu-content .neu-field {
    height: 50px;
    width: 100%;
    display: flex;
    position: relative;
}

.neu-content-login .neu-field {
    height: 50px;
    width: 100%;
    display: flex;
    position: relative;
}

.neu-field input {
    height: 100%;
    width: 100%;
    padding-left: 45px;
    font-size: 18px;
    outline: none;
    border: none;
    color: #595959;
    background: #dde1e7;
    border-radius: 25px;
    box-shadow: inset 2px 2px 5px #babecc,
    inset -5px -5px 10px #ffffff73;
}

.neu-field input:focus ~ label {
    box-shadow: inset 2px 2px 5px #babecc,
    inset -1px -1px 2px #ffffff73;
}

.neu-field:nth-child(2) {
    margin-top: 20px;
}

/* Font Awesome <span className='fa fa-icon'/> */
.neu-field span {
    position: absolute;
    width: 50px;
    line-height: 50px;
    color: #595959;
}

.neu-field h3 {
    position: absolute;
    width: 50px;
    line-height: 50px;
    color: #595959;
}

.neu-field svg {
    position: absolute;
    width: 20px;
    height: 20px;
    line-height: 20px;
    color: #595959;
}

.neu-field input::placeholder {
    position: absolute;
    top: 50%;
    left: 45px;
    pointer-events: none;
    color: #666666;
    transform: translateY(-50%);
}

.neu-button {
    margin-left: 10px;
    width: 150px;
    height: 50px;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    background: #dde1e7;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 25px;
    box-shadow: 2px 2px 5px #babecc, -5px -5px 10px #ffffff73;
}

.neu-button.secondary {
    color: #6c84a2;
    font-size: 12px;
    font-weight: 300;
    width: 50px;
    height: 50px;
}

.neu-button:focus {
    color: #3498db;
    box-shadow: inset 2px 2px 5px #babecc,
    inset -5px -5px 10px #ffffff73;
}

.neu-button:disabled {
    color: #babecc;
    cursor: default;
}

/* Utility CSS */
.mt-0 {
    margin-top: 0!important;
}
.mt-1 {
    margin-top: calc(var(--spacer) * .25rem)!important;
}
.mt-2 {
    margin-top: calc(var(--spacer) * .5rem)!important;
}
.mt-3 {
    margin-top: calc(var(--spacer) * 1rem)!important;
}
.mt-4 {
    margin-top: calc(var(--spacer) * 1.5rem)!important;
}
.mt-5 {
    margin-top: calc(var(--spacer) * 3rem)!important;
}

.ml-0 {
    margin-left: 0!important;
}
.ml-1 {
    margin-left: calc(var(--spacer) * .25rem)!important;
}
.ml-2 {
    margin-left: calc(var(--spacer) * .5rem)!important;
}
.ml-3 {
    margin-left: calc(var(--spacer) * 1rem)!important;
}
.ml-4 {
    margin-left: calc(var(--spacer) * 1.5rem)!important;
}
.ml-5 {
    margin-left: calc(var(--spacer) * 3rem)!important;
}

.mr-0 {
    margin-right: 0!important;
}
.mr-1 {
    margin-right: calc(var(--spacer) * .25rem)!important;
}
.mr-2 {
    margin-right: calc(var(--spacer) * .5rem)!important;
}
.mr-3 {
    margin-right: calc(var(--spacer) * 1rem)!important;
}
.mr-4 {
    margin-right: calc(var(--spacer) * 1.5rem)!important;
}
.mr-5 {
    margin-right: calc(var(--spacer) * 3rem)!important;
}

.mb-0 {
    margin-bottom: 0!important;
}
.mb-1 {
    margin-bottom: calc(var(--spacer) * .25rem)!important;
}
.mb-2 {
    margin-bottom: calc(var(--spacer) * .5rem)!important;
}
.mb-3 {
    margin-bottom: calc(var(--spacer) * 1rem)!important;
}
.mb-4 {
    margin-bottom: calc(var(--spacer) * 1.5rem)!important;
}
.mb-5 {
    margin-bottom: calc(var(--spacer) * 3rem)!important;
}

.p-0 {
    padding: 0!important;
}
.p-1 {
    padding: calc(var(--spacer) * .25rem)!important;
}
.p-2 {
    padding: calc(var(--spacer) * .5rem)!important;
}
.p-3 {
    padding: calc(var(--spacer) * 1rem)!important;
}
.p-4 {
    padding: calc(var(--spacer) * 1.5rem)!important;
}
.p-5 {
    padding: calc(var(--spacer) * 3rem)!important;
}

.px-0 {
    padding-left: 0!important;
    padding-right: 0!important;
}
.px-1 {
    padding-left: calc(var(--spacer) * .25rem)!important;
    padding-right: calc(var(--spacer) * .25rem)!important;
}
.px-2 {
    padding-left: calc(var(--spacer) * .5rem)!important;
    padding-right: calc(var(--spacer) * .5rem)!important;
}
.px-3 {
    padding-left: calc(var(--spacer) * 1rem)!important;
    padding-right: calc(var(--spacer) * 1rem)!important;
}
.px-4 {
    padding-left: calc(var(--spacer) * 1.5rem)!important;
    padding-right: calc(var(--spacer) * 1.5rem)!important;

}
.px-5 {
    padding-left: calc(var(--spacer) * 3rem)!important;
    padding-right: calc(var(--spacer) * 3rem)!important;
}

.py-0 {
    padding-top: 0!important;
    padding-bottom: 0!important;
}
.py-1 {
    padding-top: calc(var(--spacer) * .25rem)!important;
    padding-bottom: calc(var(--spacer) * .25rem)!important;
}
.py-2 {
    padding-top: calc(var(--spacer) * .5rem)!important;
    padding-bottom: calc(var(--spacer) * .5rem)!important;
}
.py-3 {
    padding-top: calc(var(--spacer) * 1rem)!important;
    padding-bottom: calc(var(--spacer) * 1rem)!important;
}
.py-4 {
    padding-top: calc(var(--spacer) * 1.5rem)!important;
    padding-bottom: calc(var(--spacer) * 1.5rem)!important;

}
.py-5 {
    padding-top: calc(var(--spacer) * 3rem)!important;
    padding-bottom: calc(var(--spacer) * 3rem)!important;
}
