.container {
    padding: 40px 20px;
    text-align: center;
    display: block;
}
.pinBox {
    display: inline-block;
    overflow: hidden;
    position: relative;
}
.pinBox:before {
    content: '';
    pointer-events: none;
    display: block;
    height: 40px;
    position: absolute;
    width: 140px;
    background-image: url(https://rgwit.ams3.digitaloceanspaces.com/images/box.svg);
}
.pinEntry {
    padding: 2px 11px;
    font-family: courier, monospaced, sans-serif;
    font-size: xx-large;
    border: none;
    outline: none;
    width: 6em;
    letter-spacing: 15px;
    background-color: transparent;
}
